#recipe-image{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid #ccc;
    position: relative;
    margin: 5px 25%;
}

#description, #ingredients, #instructions {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 10px;
    position: relative;
    margin: 5px 25%;
}

#description {
    position: relative;
    right: 150px;
}

#ingredients {
    position: relative;
    left: 150px;
}
#instructions {
    position: relative;
    right: 50px;
}